<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>profile</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
 <h1> welcome user </h1>
    <img src="https://wallpapers-clan.com/wp-content/uploads/2023/11/one-piece-roronoa-zoro-with-sword-green-desktop-wallpaper-preview.jpg" alt="">
    <a href="/logout"><button  id="logout">Logout</button></a>
</body>
</html>